RewriteEngine On
RewriteBase /

# Si le fichier ou répertoire existe, ne pas appliquer de règles
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Pour les requêtes API, ne pas rediriger
RewriteRule ^api/ - [L]

# Pour les URL sans extension, servir index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L] 